<!-- 


<body>
  

<h1>Employee Details</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">id</th>
      <th scope="col">designation</th>

    </tr>
  </thead>
  <tbody>
    <!-- index is a keyword indiactes index column basically -->
    <!-- <tr *ngFor="let p of persons;index as i">
      <td>{{i+1}}</td>
      <td>{{p.name}}</td>
      <td>{{p.id}}</td>
      <td>{{p.designation}}</td>
    </tr>
  </tbody>
</table>
<div>
<ul>
<li *ngFor="let p of persons;index as i"> persons[Sno:{{i+1}},Name:{{p.name}},Employee id:{{p.id}},Designation:{{p.designation}}]</li>
</ul>.
</div>





<div [ngSwitch]="selectedCountry">
  <div *ngSwitchCase="'ind'">
    <h2>India has been selected</h2>
  </div>
  <div *ngSwitchCase="'ger'">
    <h2>Germany has been selected</h2>
  </div>
  <div *ngSwitchCase="'usa'">
    <h2>USA has been selected</h2>
  </div>
  <div *ngSwitchCase="'uk'">
    <h2>UK has been selected</h2>
  </div>
  <div *ngSwitchDefault>
    <h2>No country has been selected</h2>
  </div>
</div>

<p [ngClass]="{'p1':flag,'p2':flag,'p3':flag}">Example of ngClass</p>

<p [ngStyle]="flag?{'color':'blue','font-size':'36px','background-color':'grey'}:{'color':'orange','font-size':'50px','background-color':'green'}">

  This in ngStyle
</p>


</body> -->

<!-- <app-parent></app-parent> -->
<!-- <app-users></app-users> -->
<!-- <app-persons></app-persons> -->
<app-users></app-users>